<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/developer/update" method="post">
    <input type="hidden" th:value="${razrab.id}" name="id">
    <input type="text" th:value="${razrab.email}" name="email"><br>
    <input type="text" th:value="${razrab.fullName}" name="fullName"><br>
    <input type="number" th:value="${razrab.age}" name="age"><br>
    <select name="programmingLanguage.id">
        <option th:each="lang : ${progLangs}"
                th:value="${lang.id}"
                th:text="${lang.name}"
                th:selected="${lang.id==razrab.programmingLanguage.id}"></option>
    </select>
    <p th:text="${razrab.programmingLanguage.description}"></p>
    <button>UPDATE USER</button>
</form>
</body>
</html>